<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prompt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{803,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,616}}</string>
                <key>sourceSize</key>
                <string>{803,616}</string>
            </dict>
            <key>prompt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{538,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,57}}</string>
                <key>sourceSize</key>
                <string>{538,57}</string>
            </dict>
            <key>prompt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>prompt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,679},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>prompt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>prompt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,797},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>prompt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{408,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,57}}</string>
                <key>sourceSize</key>
                <string>{408,57}</string>
            </dict>
            <key>prompt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,915},{408,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,57}}</string>
                <key>sourceSize</key>
                <string>{408,57}</string>
            </dict>
            <key>prompt_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{803,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,5}}</string>
                <key>sourceSize</key>
                <string>{803,5}</string>
            </dict>
            <key>prompt_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{617,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,5}}</string>
                <key>sourceSize</key>
                <string>{617,5}</string>
            </dict>
            <key>prompt_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{538,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,5}}</string>
                <key>sourceSize</key>
                <string>{538,5}</string>
            </dict>
            <key>prompt_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,988},{152,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,5}}</string>
                <key>sourceSize</key>
                <string>{152,5}</string>
            </dict>
            <key>prompt_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{343,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,5}}</string>
                <key>sourceSize</key>
                <string>{343,5}</string>
            </dict>
            <key>prompt_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,995},{321,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,5}}</string>
                <key>sourceSize</key>
                <string>{321,5}</string>
            </dict>
            <key>prompt_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,995},{116,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,5}}</string>
                <key>sourceSize</key>
                <string>{116,5}</string>
            </dict>
            <key>prompt_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{504,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,5}}</string>
                <key>sourceSize</key>
                <string>{504,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prompt_iplus.png</string>
            <key>size</key>
            <string>{822,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5d83543e55d5cc2ff70807d37bf58c:1/1$</string>
            <key>textureFileName</key>
            <string>prompt_iplus.png</string>
        </dict>
    </dict>
</plist>
