<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prompt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,308}}</string>
                <key>sourceSize</key>
                <string>{401,308}</string>
            </dict>
            <key>prompt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{269,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,29}}</string>
                <key>sourceSize</key>
                <string>{269,29}</string>
            </dict>
            <key>prompt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,312},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>prompt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>prompt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,372},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>prompt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,372},{160,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,58}}</string>
                <key>sourceSize</key>
                <string>{160,58}</string>
            </dict>
            <key>prompt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{204,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,29}}</string>
                <key>sourceSize</key>
                <string>{204,29}</string>
            </dict>
            <key>prompt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,432},{204,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,29}}</string>
                <key>sourceSize</key>
                <string>{204,29}</string>
            </dict>
            <key>prompt_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{401,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,2}}</string>
                <key>sourceSize</key>
                <string>{401,2}</string>
            </dict>
            <key>prompt_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{308,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,2}}</string>
                <key>sourceSize</key>
                <string>{308,2}</string>
            </dict>
            <key>prompt_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{269,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,2}}</string>
                <key>sourceSize</key>
                <string>{269,2}</string>
            </dict>
            <key>prompt_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,471},{76,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,2}}</string>
                <key>sourceSize</key>
                <string>{76,2}</string>
            </dict>
            <key>prompt_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{172,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,2}}</string>
                <key>sourceSize</key>
                <string>{172,2}</string>
            </dict>
            <key>prompt_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,475},{160,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,2}}</string>
                <key>sourceSize</key>
                <string>{160,2}</string>
            </dict>
            <key>prompt_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,475},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>prompt_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{252,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,2}}</string>
                <key>sourceSize</key>
                <string>{252,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prompt_iphone.png</string>
            <key>size</key>
            <string>{488,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45f9387d6641d6ed555aa3d669addda5:1/1$</string>
            <key>textureFileName</key>
            <string>prompt_iphone.png</string>
        </dict>
    </dict>
</plist>
