<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prompt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{856,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,657}}</string>
                <key>sourceSize</key>
                <string>{856,657}</string>
            </dict>
            <key>prompt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{572,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,59}}</string>
                <key>sourceSize</key>
                <string>{574,61}</string>
            </dict>
            <key>prompt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,661},{341,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,124}}</string>
                <key>sourceSize</key>
                <string>{341,124}</string>
            </dict>
            <key>prompt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{341,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,124}}</string>
                <key>sourceSize</key>
                <string>{341,124}</string>
            </dict>
            <key>prompt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,787},{341,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,124}}</string>
                <key>sourceSize</key>
                <string>{341,124}</string>
            </dict>
            <key>prompt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,787},{341,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,124}}</string>
                <key>sourceSize</key>
                <string>{341,124}</string>
            </dict>
            <key>prompt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{435,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,59}}</string>
                <key>sourceSize</key>
                <string>{435,61}</string>
            </dict>
            <key>prompt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,913},{435,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,59}}</string>
                <key>sourceSize</key>
                <string>{435,61}</string>
            </dict>
            <key>prompt_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{856,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,5}}</string>
                <key>sourceSize</key>
                <string>{856,5}</string>
            </dict>
            <key>prompt_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{658,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,5}}</string>
                <key>sourceSize</key>
                <string>{658,5}</string>
            </dict>
            <key>prompt_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{574,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,5}}</string>
                <key>sourceSize</key>
                <string>{574,5}</string>
            </dict>
            <key>prompt_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,988},{162,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,5}}</string>
                <key>sourceSize</key>
                <string>{162,5}</string>
            </dict>
            <key>prompt_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{366,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,5}}</string>
                <key>sourceSize</key>
                <string>{366,5}</string>
            </dict>
            <key>prompt_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,995},{342,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,5}}</string>
                <key>sourceSize</key>
                <string>{342,5}</string>
            </dict>
            <key>prompt_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,995},{124,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,5}}</string>
                <key>sourceSize</key>
                <string>{124,5}</string>
            </dict>
            <key>prompt_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{538,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,5}}</string>
                <key>sourceSize</key>
                <string>{538,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prompt_ipad.png</string>
            <key>size</key>
            <string>{1031,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b18abf919331aadcd8d0e284d0772e1:1/1$</string>
            <key>textureFileName</key>
            <string>prompt_ipad.png</string>
        </dict>
    </dict>
</plist>
