<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panel_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{856,763}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,763}}</string>
                <key>sourceSize</key>
                <string>{856,763}</string>
            </dict>
            <key>panel_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,892},{469,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,124}}</string>
                <key>sourceSize</key>
                <string>{469,124}</string>
            </dict>
            <key>panel_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,766},{469,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,124}}</string>
                <key>sourceSize</key>
                <string>{469,124}</string>
            </dict>
            <key>panel_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,472},{469,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,124}}</string>
                <key>sourceSize</key>
                <string>{469,124}</string>
            </dict>
            <key>panel_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1},{469,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,124}}</string>
                <key>sourceSize</key>
                <string>{469,124}</string>
            </dict>
            <key>panel_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,889},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>panel_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,766},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>panel_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,889},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>panel_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,766},{121,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>panel_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1},{856,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,5}}</string>
                <key>sourceSize</key>
                <string>{856,5}</string>
            </dict>
            <key>panel_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1},{764,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,5}}</string>
                <key>sourceSize</key>
                <string>{764,5}</string>
            </dict>
            <key>panel_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,503},{470,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,5}}</string>
                <key>sourceSize</key>
                <string>{470,5}</string>
            </dict>
            <key>panel_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,859},{126,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,5}}</string>
                <key>sourceSize</key>
                <string>{126,5}</string>
            </dict>
            <key>panel_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,667},{330,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,5}}</string>
                <key>sourceSize</key>
                <string>{330,5}</string>
            </dict>
            <key>panel_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1},{500,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,5}}</string>
                <key>sourceSize</key>
                <string>{500,5}</string>
            </dict>
            <key>panel_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{664,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,5}}</string>
                <key>sourceSize</key>
                <string>{664,5}</string>
            </dict>
            <key>panel_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,767},{122,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,5}}</string>
                <key>sourceSize</key>
                <string>{122,5}</string>
            </dict>
            <key>panel_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,891},{116,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,5}}</string>
                <key>sourceSize</key>
                <string>{116,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_ipad.png</string>
            <key>size</key>
            <string>{1012,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e2a622d9bb05530969fc8e89968a39:1/1$</string>
            <key>textureFileName</key>
            <string>panel_ipad.png</string>
        </dict>
    </dict>
</plist>
