<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allusion_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1051,1120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1051,1120}}</string>
                <key>sourceSize</key>
                <string>{1051,1120}</string>
            </dict>
            <key>allusion_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,269},{266,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,97}}</string>
                <key>sourceSize</key>
                <string>{266,97}</string>
            </dict>
            <key>allusion_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1},{266,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,97}}</string>
                <key>sourceSize</key>
                <string>{266,97}</string>
            </dict>
            <key>allusion_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,577},{302,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,4}}</string>
                <key>sourceSize</key>
                <string>{302,4}</string>
            </dict>
            <key>allusion_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,537},{371,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,5}}</string>
                <key>sourceSize</key>
                <string>{371,5}</string>
            </dict>
            <key>allusion_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1},{574,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,5}}</string>
                <key>sourceSize</key>
                <string>{574,5}</string>
            </dict>
            <key>allusion_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1028},{64,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,5}}</string>
                <key>sourceSize</key>
                <string>{64,5}</string>
            </dict>
            <key>allusion_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,809},{195,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,5}}</string>
                <key>sourceSize</key>
                <string>{195,5}</string>
            </dict>
            <key>allusion_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1},{806,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,5}}</string>
                <key>sourceSize</key>
                <string>{806,5}</string>
            </dict>
            <key>allusion_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{750,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,5}}</string>
                <key>sourceSize</key>
                <string>{750,5}</string>
            </dict>
            <key>allusion_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,753},{201,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,5}}</string>
                <key>sourceSize</key>
                <string>{201,5}</string>
            </dict>
            <key>allusion_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,753},{266,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,5}}</string>
                <key>sourceSize</key>
                <string>{266,5}</string>
            </dict>
            <key>allusion_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1021},{98,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,5}}</string>
                <key>sourceSize</key>
                <string>{98,5}</string>
            </dict>
            <key>allusion_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,537},{323,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,5}}</string>
                <key>sourceSize</key>
                <string>{323,5}</string>
            </dict>
            <key>allusion_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allusion_iplus.png</string>
            <key>size</key>
            <string>{1248,1053}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6499ed3719edf8a5fd58113ee1c7c7a7:1/1$</string>
            <key>textureFileName</key>
            <string>allusion_iplus.png</string>
        </dict>
    </dict>
</plist>
