<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allusion_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{525,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,560}}</string>
                <key>sourceSize</key>
                <string>{525,560}</string>
            </dict>
            <key>allusion_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,136},{133,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,48}}</string>
                <key>sourceSize</key>
                <string>{133,48}</string>
            </dict>
            <key>allusion_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{133,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,48}}</string>
                <key>sourceSize</key>
                <string>{133,48}</string>
            </dict>
            <key>allusion_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,271},{151,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,2}}</string>
                <key>sourceSize</key>
                <string>{151,2}</string>
            </dict>
            <key>allusion_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,290},{186,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,2}}</string>
                <key>sourceSize</key>
                <string>{186,2}</string>
            </dict>
            <key>allusion_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{287,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,2}}</string>
                <key>sourceSize</key>
                <string>{287,2}</string>
            </dict>
            <key>allusion_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,517},{32,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,2}}</string>
                <key>sourceSize</key>
                <string>{32,2}</string>
            </dict>
            <key>allusion_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,406},{98,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,2}}</string>
                <key>sourceSize</key>
                <string>{98,2}</string>
            </dict>
            <key>allusion_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{403,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,2}}</string>
                <key>sourceSize</key>
                <string>{403,2}</string>
            </dict>
            <key>allusion_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{375,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,2}}</string>
                <key>sourceSize</key>
                <string>{375,2}</string>
            </dict>
            <key>allusion_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,378},{100,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,2}}</string>
                <key>sourceSize</key>
                <string>{100,2}</string>
            </dict>
            <key>allusion_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,378},{133,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,2}}</string>
                <key>sourceSize</key>
                <string>{133,2}</string>
            </dict>
            <key>allusion_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,513},{49,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,2}}</string>
                <key>sourceSize</key>
                <string>{49,2}</string>
            </dict>
            <key>allusion_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,271},{161,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,2}}</string>
                <key>sourceSize</key>
                <string>{161,2}</string>
            </dict>
            <key>allusion_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1},{375,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,2}}</string>
                <key>sourceSize</key>
                <string>{375,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allusion_iphone.png</string>
            <key>size</key>
            <string>{628,527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010c8663e8bf4c2ec0b4a7e3ea6631df:1/1$</string>
            <key>textureFileName</key>
            <string>allusion_iphone.png</string>
        </dict>
    </dict>
</plist>
