<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,139},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,70},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,167},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,167},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,167},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,167},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{67,67}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>share_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>share_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>share_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,236},{19,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,2}}</string>
                <key>sourceSize</key>
                <string>{19,2}</string>
            </dict>
            <key>share_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,236},{263,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,2}}</string>
                <key>sourceSize</key>
                <string>{263,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share_iphone.png</string>
            <key>size</key>
            <string>{414,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9359504b33a74dc4402168bd96ea0f06:1/1$</string>
            <key>textureFileName</key>
            <string>share_iphone.png</string>
        </dict>
    </dict>
</plist>
