<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,269},{132,132}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,135},{132,132}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1},{132,132}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,331},{132,132}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,331},{132,132}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,331},{132,132}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,331},{132,132}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{132,132}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>share_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>share_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>share_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,465},{38,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,5}}</string>
                <key>sourceSize</key>
                <string>{38,5}</string>
            </dict>
            <key>share_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,465},{525,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,5}}</string>
                <key>sourceSize</key>
                <string>{525,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share_iplus.png</string>
            <key>size</key>
            <string>{804,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e622f0bff830098643294b5c4e4c5c0d:1/1$</string>
            <key>textureFileName</key>
            <string>share_iplus.png</string>
        </dict>
    </dict>
</plist>
