<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>customs_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{377,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,405}}</string>
                <key>sourceSize</key>
                <string>{377,405}</string>
            </dict>
            <key>customs_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,229},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>customs_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,119},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>customs_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,118},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>customs_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>customs_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{113,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,28}}</string>
                <key>sourceSize</key>
                <string>{113,28}</string>
            </dict>
            <key>customs_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,260},{46,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,43}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>customs_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,220},{38,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,39}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>customs_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,331},{42,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>customs_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,305},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>customs_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,357},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{34,35}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>customs_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1},{377,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,2}}</string>
                <key>sourceSize</key>
                <string>{377,2}</string>
            </dict>
            <key>customs_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{405,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,2}}</string>
                <key>sourceSize</key>
                <string>{405,2}</string>
            </dict>
            <key>customs_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,388},{100,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,2}}</string>
                <key>sourceSize</key>
                <string>{100,2}</string>
            </dict>
            <key>customs_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,357},{28,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{28,2}</string>
            </dict>
            <key>customs_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,116},{111,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,2}}</string>
                <key>sourceSize</key>
                <string>{111,2}</string>
            </dict>
            <key>customs_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1},{115,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,2}}</string>
                <key>sourceSize</key>
                <string>{115,2}</string>
            </dict>
            <key>customs_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,357},{28,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{28,2}</string>
            </dict>
            <key>customs_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1},{159,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,2}}</string>
                <key>sourceSize</key>
                <string>{159,2}</string>
            </dict>
            <key>customs_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1},{198,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,2}}</string>
                <key>sourceSize</key>
                <string>{198,2}</string>
            </dict>
            <key>customs_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1},{250,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,2}}</string>
                <key>sourceSize</key>
                <string>{250,2}</string>
            </dict>
            <key>customs_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{293,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,2}}</string>
                <key>sourceSize</key>
                <string>{293,2}</string>
            </dict>
            <key>customs_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,162},{51,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,2}}</string>
                <key>sourceSize</key>
                <string>{51,2}</string>
            </dict>
            <key>customs_interval_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,384},{45,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,2}}</string>
                <key>sourceSize</key>
                <string>{45,2}</string>
            </dict>
            <key>customs_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{361,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,2}}</string>
                <key>sourceSize</key>
                <string>{361,2}</string>
            </dict>
            <key>customs_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,116},{98,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,2}}</string>
                <key>sourceSize</key>
                <string>{98,2}</string>
            </dict>
            <key>customs_interval_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1},{197,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,2}}</string>
                <key>sourceSize</key>
                <string>{197,2}</string>
            </dict>
            <key>customs_interval_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,221},{50,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,2}}</string>
                <key>sourceSize</key>
                <string>{50,2}</string>
            </dict>
            <key>customs_interval_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{116,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,2}}</string>
                <key>sourceSize</key>
                <string>{116,2}</string>
            </dict>
            <key>customs_interval_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{266,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,2}}</string>
                <key>sourceSize</key>
                <string>{266,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>customs_iphone.png</string>
            <key>size</key>
            <string>{500,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4e37e99455170f4ae33123a2a4fe48:1/1$</string>
            <key>textureFileName</key>
            <string>customs_iphone.png</string>
        </dict>
    </dict>
</plist>
