<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,438}</string>
                <key>spriteSourceSize</key>
                <string>{438,438}</string>
                <key>textureRect</key>
                <string>{{1,1},{438,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>default_iplus.png</string>
            <key>size</key>
            <string>{440,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8925376cb967f1815a4e0d078da32579:8119be56aed5c92e1e41653db724186f:6a196afb31686a9c7f8d27048daadec9$</string>
            <key>textureFileName</key>
            <string>default_iplus.png</string>
        </dict>
    </dict>
</plist>
