<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>install_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{695,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,357}}</string>
                <key>sourceSize</key>
                <string>{695,357}</string>
            </dict>
            <key>install_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,346},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>install_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,231},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>install_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,116},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>install_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>install_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1},{696,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,5}}</string>
                <key>sourceSize</key>
                <string>{696,5}</string>
            </dict>
            <key>install_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{358,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,5}}</string>
                <key>sourceSize</key>
                <string>{358,5}</string>
            </dict>
            <key>install_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,639},{114,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,5}}</string>
                <key>sourceSize</key>
                <string>{114,5}</string>
            </dict>
            <key>install_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,646},{109,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,5}}</string>
                <key>sourceSize</key>
                <string>{109,5}</string>
            </dict>
            <key>install_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,361},{276,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,5}}</string>
                <key>sourceSize</key>
                <string>{276,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>install_iplus.png</string>
            <key>size</key>
            <string>{484,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200f6aba07a543706217c953094dc24e:1/1$</string>
            <key>textureFileName</key>
            <string>install_iplus.png</string>
        </dict>
    </dict>
</plist>
