<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1536,1732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,1732}}</string>
                <key>sourceSize</key>
                <string>{1536,1732}</string>
            </dict>
            <key>index_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1735},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1735},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1735},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1891},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1891},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1702},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1513},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1324},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1135},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,946},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,757},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,568},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,379},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,190},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1},{187,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,136}}</string>
                <key>sourceSize</key>
                <string>{187,136}</string>
            </dict>
            <key>index_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1891},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1891},{486,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,135}}</string>
                <key>sourceSize</key>
                <string>{486,135}</string>
            </dict>
            <key>index_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2029},{536,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,3}}</string>
                <key>sourceSize</key>
                <string>{536,3}</string>
            </dict>
            <key>index_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2028},{732,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,4}}</string>
                <key>sourceSize</key>
                <string>{732,4}</string>
            </dict>
            <key>index_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1879},{486,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,5}}</string>
                <key>sourceSize</key>
                <string>{486,5}</string>
            </dict>
            <key>index_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1879},{176,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,5}}</string>
                <key>sourceSize</key>
                <string>{176,5}</string>
            </dict>
            <key>index_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1879},{320,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,5}}</string>
                <key>sourceSize</key>
                <string>{320,5}</string>
            </dict>
            <key>index_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1879},{188,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,5}}</string>
                <key>sourceSize</key>
                <string>{188,5}</string>
            </dict>
            <key>index_interval_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1872},{1000,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,5}}</string>
                <key>sourceSize</key>
                <string>{1000,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index_ipad.png</string>
            <key>size</key>
            <string>{1676,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b49a4b30de0c975a409ae01982e2c094:1/1$</string>
            <key>textureFileName</key>
            <string>index_ipad.png</string>
        </dict>
    </dict>
</plist>
