<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,812}}</string>
                <key>sourceSize</key>
                <string>{720,812}</string>
            </dict>
            <key>index_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,723},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,723},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,627},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,501},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,561},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,411},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,495},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,429},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,363},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,321},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,297},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,231},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,231},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>index_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,723},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{228,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,63}}</string>
                <key>sourceSize</key>
                <string>{228,63}</string>
            </dict>
            <key>index_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,346},{251,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,1}}</string>
                <key>sourceSize</key>
                <string>{251,1}</string>
            </dict>
            <key>index_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1},{343,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,2}}</string>
                <key>sourceSize</key>
                <string>{343,2}</string>
            </dict>
            <key>index_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,472},{228,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,2}}</string>
                <key>sourceSize</key>
                <string>{228,2}</string>
            </dict>
            <key>index_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,693},{83,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,2}}</string>
                <key>sourceSize</key>
                <string>{83,2}</string>
            </dict>
            <key>index_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1},{150,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,2}}</string>
                <key>sourceSize</key>
                <string>{150,2}</string>
            </dict>
            <key>index_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{88,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,2}}</string>
                <key>sourceSize</key>
                <string>{88,2}</string>
            </dict>
            <key>index_interval_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{469,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,2}}</string>
                <key>sourceSize</key>
                <string>{469,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index_iphone.png</string>
            <key>size</key>
            <string>{978,787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1baedc0c76d2a327256745f6f1392944:1/1$</string>
            <key>textureFileName</key>
            <string>index_iphone.png</string>
        </dict>
    </dict>
</plist>
