<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,1443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1443}}</string>
                <key>sourceSize</key>
                <string>{1280,1443}</string>
            </dict>
            <key>index_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,571},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,457},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,343},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,229},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1151},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1001},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1007},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1036},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,843},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,685},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,849},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,691},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,921},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,806},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,691},{156,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>index_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,115},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1},{405,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,112}}</string>
                <key>sourceSize</key>
                <string>{405,112}</string>
            </dict>
            <key>index_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,613},{447,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,2}}</string>
                <key>sourceSize</key>
                <string>{447,2}</string>
            </dict>
            <key>index_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1},{610,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,3}}</string>
                <key>sourceSize</key>
                <string>{610,3}</string>
            </dict>
            <key>index_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,836},{405,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,4}}</string>
                <key>sourceSize</key>
                <string>{405,4}</string>
            </dict>
            <key>index_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,844},{147,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,4}}</string>
                <key>sourceSize</key>
                <string>{147,4}</string>
            </dict>
            <key>index_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,685},{267,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,4}}</string>
                <key>sourceSize</key>
                <string>{267,4}</string>
            </dict>
            <key>index_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,685},{157,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,4}}</string>
                <key>sourceSize</key>
                <string>{157,4}</string>
            </dict>
            <key>index_interval_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1},{833,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,4}}</string>
                <key>sourceSize</key>
                <string>{833,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index_iplus.png</string>
            <key>size</key>
            <string>{1864,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af71d6434543190dd3250fbe3c5b049:1/1$</string>
            <key>textureFileName</key>
            <string>index_iplus.png</string>
        </dict>
    </dict>
</plist>
