<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grade_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1079},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>grade_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1079},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>grade_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,925},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,771},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,925},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,617},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,463},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,463},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,309},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,155},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{477,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,152}}</string>
                <key>sourceSize</key>
                <string>{477,152}</string>
            </dict>
            <key>grade_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,481},{247,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,4}}</string>
                <key>sourceSize</key>
                <string>{247,4}</string>
            </dict>
            <key>grade_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1066},{103,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,4}}</string>
                <key>sourceSize</key>
                <string>{103,4}</string>
            </dict>
            <key>grade_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1079},{73,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,4}}</string>
                <key>sourceSize</key>
                <string>{73,4}</string>
            </dict>
            <key>grade_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,917},{147,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,4}}</string>
                <key>sourceSize</key>
                <string>{147,4}</string>
            </dict>
            <key>grade_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{478,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,4}}</string>
                <key>sourceSize</key>
                <string>{478,4}</string>
            </dict>
            <key>grade_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,730},{185,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,4}}</string>
                <key>sourceSize</key>
                <string>{185,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grade_iplus.png</string>
            <key>size</key>
            <string>{964,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0345e0c820c84cd8b46ac74aba3ae72:1/1$</string>
            <key>textureFileName</key>
            <string>grade_iplus.png</string>
        </dict>
    </dict>
</plist>
