<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grade_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,332},{139,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,58}}</string>
                <key>sourceSize</key>
                <string>{139,58}</string>
            </dict>
            <key>grade_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,272},{139,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,58}}</string>
                <key>sourceSize</key>
                <string>{139,58}</string>
            </dict>
            <key>grade_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,272},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,272},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,272},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,85}</string>
            </dict>
            <key>grade_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,382},{139,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,2}}</string>
                <key>sourceSize</key>
                <string>{139,2}</string>
            </dict>
            <key>grade_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,386},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>grade_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,382},{41,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,2}}</string>
                <key>sourceSize</key>
                <string>{41,2}</string>
            </dict>
            <key>grade_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,386},{83,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,2}}</string>
                <key>sourceSize</key>
                <string>{83,2}</string>
            </dict>
            <key>grade_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,378},{269,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,2}}</string>
                <key>sourceSize</key>
                <string>{269,2}</string>
            </dict>
            <key>grade_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,272},{104,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,2}}</string>
                <key>sourceSize</key>
                <string>{104,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grade_iphone.png</string>
            <key>size</key>
            <string>{958,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d55bdc4e885e178742650ce515c0f1d:1/1$</string>
            <key>textureFileName</key>
            <string>grade_iphone.png</string>
        </dict>
    </dict>
</plist>
