<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{1142,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1142,178}}</string>
                <key>sourceSize</key>
                <string>{1142,178}</string>
            </dict>
            <key>fight_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{1142,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1142,178}}</string>
                <key>sourceSize</key>
                <string>{1142,178}</string>
            </dict>
            <key>fight_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{218,165}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,165}}</string>
                <key>sourceSize</key>
                <string>{218,175}</string>
            </dict>
            <key>fight_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,632},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>fight_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,581},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>fight_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,632},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>fight_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,581},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>fight_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1142,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1142,178}}</string>
                <key>sourceSize</key>
                <string>{1142,178}</string>
            </dict>
            <key>fight_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,702},{477,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,4}}</string>
                <key>sourceSize</key>
                <string>{477,4}</string>
            </dict>
            <key>fight_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,696},{225,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,4}}</string>
                <key>sourceSize</key>
                <string>{225,4}</string>
            </dict>
            <key>fight_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,683},{178,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,4}}</string>
                <key>sourceSize</key>
                <string>{178,4}</string>
            </dict>
            <key>fight_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,541},{218,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,4}}</string>
                <key>sourceSize</key>
                <string>{218,4}</string>
            </dict>
            <key>fight_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,547},{175,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,4}}</string>
                <key>sourceSize</key>
                <string>{175,4}</string>
            </dict>
            <key>fight_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,541},{95,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,4}}</string>
                <key>sourceSize</key>
                <string>{95,4}</string>
            </dict>
            <key>fight_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,541},{38,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,4}}</string>
                <key>sourceSize</key>
                <string>{38,4}</string>
            </dict>
            <key>fight_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,696},{592,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,4}}</string>
                <key>sourceSize</key>
                <string>{592,4}</string>
            </dict>
            <key>fight_interval_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,702},{430,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,4}}</string>
                <key>sourceSize</key>
                <string>{430,4}</string>
            </dict>
            <key>fight_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,638},{50,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,4}</string>
            </dict>
            <key>fight_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,690},{667,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,4}}</string>
                <key>sourceSize</key>
                <string>{667,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_iplus.png</string>
            <key>size</key>
            <string>{1144,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c85519d9912121bda915dd21e4d956:1/1$</string>
            <key>textureFileName</key>
            <string>fight_iplus.png</string>
        </dict>
    </dict>
</plist>
