<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{1370,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1370,214}}</string>
                <key>sourceSize</key>
                <string>{1370,214}</string>
            </dict>
            <key>fight_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{1370,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1370,214}}</string>
                <key>sourceSize</key>
                <string>{1370,214}</string>
            </dict>
            <key>fight_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1},{262,198}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,198}}</string>
                <key>sourceSize</key>
                <string>{262,210}</string>
            </dict>
            <key>fight_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,481},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>fight_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,265},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>fight_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,265},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>fight_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,265},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>fight_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1370,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1370,214}}</string>
                <key>sourceSize</key>
                <string>{1370,214}</string>
            </dict>
            <key>fight_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1},{572,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,5}}</string>
                <key>sourceSize</key>
                <string>{572,5}</string>
            </dict>
            <key>fight_interval_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1},{270,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,5}}</string>
                <key>sourceSize</key>
                <string>{270,5}</string>
            </dict>
            <key>fight_interval_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,265},{214,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,5}}</string>
                <key>sourceSize</key>
                <string>{214,5}</string>
            </dict>
            <key>fight_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1},{262,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,5}}</string>
                <key>sourceSize</key>
                <string>{262,5}</string>
            </dict>
            <key>fight_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,265},{210,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,5}}</string>
                <key>sourceSize</key>
                <string>{210,5}</string>
            </dict>
            <key>fight_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,273},{114,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,5}}</string>
                <key>sourceSize</key>
                <string>{114,5}</string>
            </dict>
            <key>fight_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,575},{46,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,5}}</string>
                <key>sourceSize</key>
                <string>{46,5}</string>
            </dict>
            <key>fight_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,649},{710,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,5}}</string>
                <key>sourceSize</key>
                <string>{710,5}</string>
            </dict>
            <key>fight_interval_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1},{516,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,5}}</string>
                <key>sourceSize</key>
                <string>{516,5}</string>
            </dict>
            <key>fight_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,519},{60,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,5}}</string>
                <key>sourceSize</key>
                <string>{60,5}</string>
            </dict>
            <key>fight_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,649},{800,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,5}}</string>
                <key>sourceSize</key>
                <string>{800,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_ipad.png</string>
            <key>size</key>
            <string>{1604,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9938b79104133b25ea7d4b375ce59c7:1/1$</string>
            <key>textureFileName</key>
            <string>fight_ipad.png</string>
        </dict>
    </dict>
</plist>
