<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b-dao.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,2},{224,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,65}}</string>
			<key>sourceSize</key>
			<string>{224,65}</string>
		</dict>
		<key>b-daoying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{231,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,71}}</string>
			<key>sourceSize</key>
			<string>{231,71}</string>
		</dict>
		<key>b-gebo.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,124},{165,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,75}}</string>
			<key>sourceSize</key>
			<string>{165,75}</string>
		</dict>
		<key>b-geboying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,75},{170,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,75}}</string>
			<key>sourceSize</key>
			<string>{170,75}</string>
		</dict>
		<key>b-jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,2},{176,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,48}}</string>
			<key>sourceSize</key>
			<string>{176,48}</string>
		</dict>
		<key>b-jianying.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,69},{184,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,53}}</string>
			<key>sourceSize</key>
			<string>{184,53}</string>
		</dict>
		<key>b-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,295},{114,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,124}}</string>
			<key>sourceSize</key>
			<string>{114,124}</string>
		</dict>
		<key>b-touying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{121,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,130}}</string>
			<key>sourceSize</key>
			<string>{121,130}</string>
		</dict>
		<key>b-yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,69},{61,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,25}}</string>
			<key>sourceSize</key>
			<string>{61,25}</string>
		</dict>
		<key>b-yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,75},{61,23}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,23}}</string>
			<key>sourceSize</key>
			<string>{61,25}</string>
		</dict>
		<key>bshen.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,180},{113,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,137}}</string>
			<key>sourceSize</key>
			<string>{113,137}</string>
		</dict>
		<key>bshenying.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,295},{120,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,108}}</string>
			<key>sourceSize</key>
			<string>{120,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bing.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2e8843a04dd94c6696156365264cdf7b$</string>
		<key>textureFileName</key>
		<string>bing.png</string>
	</dict>
</dict>
</plist>
