<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{321,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,306}}</string>
			<key>sourceSize</key>
			<string>{321,306}</string>
		</dict>
		<key>c-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,290},{514,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,121}}</string>
			<key>sourceSize</key>
			<string>{514,121}</string>
		</dict>
		<key>c-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{331,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{331,127}}</string>
			<key>sourceSize</key>
			<string>{331,127}</string>
		</dict>
		<key>c-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,806},{233,216}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,216}}</string>
			<key>sourceSize</key>
			<string>{233,218}</string>
		</dict>
		<key>c-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,154},{183,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,134}}</string>
			<key>sourceSize</key>
			<string>{183,134}</string>
		</dict>
		<key>c-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,439},{81,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,33}}</string>
			<key>sourceSize</key>
			<string>{81,33}</string>
		</dict>
		<key>c-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,290},{99,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,47}}</string>
			<key>sourceSize</key>
			<string>{99,47}</string>
		</dict>
		<key>c-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,2},{150,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,153}}</string>
			<key>sourceSize</key>
			<string>{150,153}</string>
		</dict>
		<key>c-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,439},{231,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,115}}</string>
			<key>sourceSize</key>
			<string>{231,115}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>caocao.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bec6bc992f2a29546cd5273a259bcdef$</string>
		<key>textureFileName</key>
		<string>caocao.png</string>
	</dict>
</dict>
</plist>
