<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cc2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{369,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,407}}</string>
			<key>sourceSize</key>
			<string>{369,407}</string>
		</dict>
		<key>cc2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,411},{221,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,406}}</string>
			<key>sourceSize</key>
			<string>{221,406}</string>
		</dict>
		<key>cc2-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,411},{376,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,100}}</string>
			<key>sourceSize</key>
			<string>{376,100}</string>
		</dict>
		<key>cc2-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,2},{320,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,314}}</string>
			<key>sourceSize</key>
			<string>{320,314}</string>
		</dict>
		<key>cc2-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,789},{232,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,215}}</string>
			<key>sourceSize</key>
			<string>{232,215}</string>
		</dict>
		<key>cc2-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,411},{372,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{372,89}}</string>
			<key>sourceSize</key>
			<string>{372,89}</string>
		</dict>
		<key>cc2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,819},{182,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,133}}</string>
			<key>sourceSize</key>
			<string>{182,133}</string>
		</dict>
		<key>cc2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,973},{99,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,44}}</string>
			<key>sourceSize</key>
			<string>{99,44}</string>
		</dict>
		<key>cc2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,324},{80,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,51}}</string>
			<key>sourceSize</key>
			<string>{80,51}</string>
		</dict>
		<key>cc2-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,973},{77,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,33}}</string>
			<key>sourceSize</key>
			<string>{77,33}</string>
		</dict>
		<key>cc2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,118},{221,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,108}}</string>
			<key>sourceSize</key>
			<string>{221,108}</string>
		</dict>
		<key>cc2-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,819},{149,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,152}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>cc2-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,2},{229,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,114}}</string>
			<key>sourceSize</key>
			<string>{229,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>customs.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:551a8c07f53490d39b80b9478138ce54$</string>
		<key>textureFileName</key>
		<string>customs.png</string>
	</dict>
</dict>
</plist>
