<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>h2-damuzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,260},{62,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,59}}</string>
			<key>sourceSize</key>
			<string>{62,59}</string>
		</dict>
		<key>h2-dao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{279,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,120}}</string>
			<key>sourceSize</key>
			<string>{279,120}</string>
		</dict>
		<key>h2-gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,542},{163,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,200}}</string>
			<key>sourceSize</key>
			<string>{163,200}</string>
		</dict>
		<key>h2-gongying.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,440},{167,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,204}}</string>
			<key>sourceSize</key>
			<string>{167,204}</string>
		</dict>
		<key>h2-huzi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,2},{82,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,30}}</string>
			<key>sourceSize</key>
			<string>{82,30}</string>
		</dict>
		<key>h2-huzi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,34},{130,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,77}}</string>
			<key>sourceSize</key>
			<string>{130,77}</string>
		</dict>
		<key>h2-jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{415,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,152}}</string>
			<key>sourceSize</key>
			<string>{415,152}</string>
		</dict>
		<key>h2-jianbang.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,448},{95,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,59}}</string>
			<key>sourceSize</key>
			<string>{95,59}</string>
		</dict>
		<key>h2-jianbang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,654},{54,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,37}}</string>
			<key>sourceSize</key>
			<string>{54,37}</string>
		</dict>
		<key>h2-jianying.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,166},{92,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,62}}</string>
			<key>sourceSize</key>
			<string>{92,62}</string>
		</dict>
		<key>h2-jianyingying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{417,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,160}}</string>
			<key>sourceSize</key>
			<string>{417,160}</string>
		</dict>
		<key>h2-meimao.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,166},{62,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,27}}</string>
			<key>sourceSize</key>
			<string>{62,27}</string>
		</dict>
		<key>h2-qun.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,609},{147,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,96}}</string>
			<key>sourceSize</key>
			<string>{147,96}</string>
		</dict>
		<key>h2-shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,729},{131,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,104}}</string>
			<key>sourceSize</key>
			<string>{131,104}</string>
		</dict>
		<key>h2-shenying.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,321},{125,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,92}}</string>
			<key>sourceSize</key>
			<string>{125,92}</string>
		</dict>
		<key>h2-shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,693},{50,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,37}}</string>
			<key>sourceSize</key>
			<string>{50,37}</string>
		</dict>
		<key>h2-shouying.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,609},{56,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,43}}</string>
			<key>sourceSize</key>
			<string>{56,43}</string>
		</dict>
		<key>h2-sui.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,862},{130,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,124}}</string>
			<key>sourceSize</key>
			<string>{130,124}</string>
		</dict>
		<key>h2-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,732},{128,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,114}}</string>
			<key>sourceSize</key>
			<string>{128,114}</string>
		</dict>
		<key>h2-touying.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,318},{133,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,120}}</string>
			<key>sourceSize</key>
			<string>{133,120}</string>
		</dict>
		<key>h2-tui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,440},{207,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,100}}</string>
			<key>sourceSize</key>
			<string>{207,100}</string>
		</dict>
		<key>h2-tuiwwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,545},{182,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,57}}</string>
			<key>sourceSize</key>
			<string>{182,57}</string>
		</dict>
		<key>h2-xiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,862},{145,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,110}}</string>
			<key>sourceSize</key>
			<string>{145,110}</string>
		</dict>
		<key>h2-xiuying.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,707},{110,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,120}}</string>
			<key>sourceSize</key>
			<string>{110,120}</string>
		</dict>
		<key>h2-yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,230},{56,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,16}}</string>
			<key>sourceSize</key>
			<string>{56,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>huangzhongheng.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:59fe63e95f5e01a3facc675f392af090$</string>
		<key>textureFileName</key>
		<string>huangzhongheng.png</string>
	</dict>
</dict>
</plist>
