<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>h-dao.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,297},{228,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,112}}</string>
			<key>sourceSize</key>
			<string>{228,112}</string>
		</dict>
		<key>h-gomgying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{211,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,241}}</string>
			<key>sourceSize</key>
			<string>{211,241}</string>
		</dict>
		<key>h-gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,90},{205,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,232}}</string>
			<key>sourceSize</key>
			<string>{205,232}</string>
		</dict>
		<key>h-jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,215},{229,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,83}}</string>
			<key>sourceSize</key>
			<string>{229,83}</string>
		</dict>
		<key>h-jianying.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,2},{235,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,86}}</string>
			<key>sourceSize</key>
			<string>{235,86}</string>
		</dict>
		<key>h-qun.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,411},{125,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,142}}</string>
			<key>sourceSize</key>
			<string>{125,142}</string>
		</dict>
		<key>h-qunying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,300},{210,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,139}}</string>
			<key>sourceSize</key>
			<string>{210,139}</string>
		</dict>
		<key>h-shanghu.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,2},{85,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,22}}</string>
			<key>sourceSize</key>
			<string>{85,22}</string>
		</dict>
		<key>h-shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,566},{133,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,139}}</string>
			<key>sourceSize</key>
			<string>{133,139}</string>
		</dict>
		<key>h-shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,297},{36,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,67}}</string>
			<key>sourceSize</key>
			<string>{36,67}</string>
		</dict>
		<key>h-shouying.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,655},{50,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,78}}</string>
			<key>sourceSize</key>
			<string>{50,78}</string>
		</dict>
		<key>h-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,534},{119,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,136}}</string>
			<key>sourceSize</key>
			<string>{119,136}</string>
		</dict>
		<key>h-touying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,441},{123,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,142}}</string>
			<key>sourceSize</key>
			<string>{123,142}</string>
		</dict>
		<key>h-tui.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,441},{135,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,64}}</string>
			<key>sourceSize</key>
			<string>{135,64}</string>
		</dict>
		<key>h-weihua.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,411},{121,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,148}}</string>
			<key>sourceSize</key>
			<string>{121,148}</string>
		</dict>
		<key>h-xiahu.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,538},{123,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,80}}</string>
			<key>sourceSize</key>
			<string>{123,80}</string>
		</dict>
		<key>h-xiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,578},{54,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,121}}</string>
			<key>sourceSize</key>
			<string>{54,121}</string>
		</dict>
		<key>h-xiuying.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,620},{52,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,120}}</string>
			<key>sourceSize</key>
			<string>{52,120}</string>
		</dict>
		<key>h-yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,89},{57,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,9}}</string>
			<key>sourceSize</key>
			<string>{57,9}</string>
		</dict>
		<key>h-yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,89},{57,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,9}}</string>
			<key>sourceSize</key>
			<string>{57,9}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>huangzhongshu.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a0761dc650b1d7b9153db17e04fcc164$</string>
		<key>textureFileName</key>
		<string>huangzhongshu.png</string>
	</dict>
</dict>
</plist>
