<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{502,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,202}}</string>
			<key>sourceSize</key>
			<string>{502,202}</string>
		</dict>
		<key>m2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,530},{64,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,56}}</string>
			<key>sourceSize</key>
			<string>{64,56}</string>
		</dict>
		<key>m2-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,406},{152,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,71}}</string>
			<key>sourceSize</key>
			<string>{152,71}</string>
		</dict>
		<key>m2-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{159,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,77}}</string>
			<key>sourceSize</key>
			<string>{159,77}</string>
		</dict>
		<key>m2-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,535},{110,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,100}}</string>
			<key>sourceSize</key>
			<string>{110,100}</string>
		</dict>
		<key>m2-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,596},{89,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,105}}</string>
			<key>sourceSize</key>
			<string>{89,105}</string>
		</dict>
		<key>m2-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,601},{65,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,63}}</string>
			<key>sourceSize</key>
			<string>{65,63}</string>
		</dict>
		<key>m2-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,485},{52,30}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>m2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{495,198}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,198}}</string>
			<key>sourceSize</key>
			<string>{495,218}</string>
		</dict>
		<key>m2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,535},{52,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>m2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,479},{120,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,124}}</string>
			<key>sourceSize</key>
			<string>{120,124}</string>
		</dict>
		<key>m2-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,601},{79,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,91}}</string>
			<key>sourceSize</key>
			<string>{79,91}</string>
		</dict>
		<key>m2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,406},{127,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,131}}</string>
			<key>sourceSize</key>
			<string>{127,131}</string>
		</dict>
		<key>m2-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{81,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,96}}</string>
			<key>sourceSize</key>
			<string>{81,96}</string>
		</dict>
		<key>m2-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,406},{122,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,59}}</string>
			<key>sourceSize</key>
			<string>{122,59}</string>
		</dict>
		<key>m2-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,485},{97,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,87}}</string>
			<key>sourceSize</key>
			<string>{97,87}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>machaoheng.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2a2445344e8d1b5f3b1c587206761373$</string>
		<key>textureFileName</key>
		<string>machaoheng.png</string>
	</dict>
</dict>
</plist>
