<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m-biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,509},{69,27}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,27}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>m-gebo.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,340},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>m-gebo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,88},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>m-geboying.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,133},{43,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,80}}</string>
                <key>sourceSize</key>
                <string>{43,80}</string>
            </dict>
            <key>m-geboying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,215},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>m-hujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,628},{117,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,129}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>m-jianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,628},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>m-jianjia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,408},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>m-jianjia2ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,712},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>m-jianjiayin.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,725},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>m-kuiying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{114,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,120}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>m-qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,451}}</string>
                <key>sourceSize</key>
                <string>{198,451}</string>
            </dict>
            <key>m-qiangying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,459}}</string>
                <key>sourceSize</key>
                <string>{204,459}</string>
            </dict>
            <key>m-qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,408},{171,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,91}}</string>
                <key>sourceSize</key>
                <string>{171,91}</string>
            </dict>
            <key>m-qunying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{173,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
            <key>m-shou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,258},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>m-shou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,408},{31,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>m-shouying.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>m-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,603},{120,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,161}}</string>
                <key>sourceSize</key>
                <string>{120,161}</string>
            </dict>
            <key>m-tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{135,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,127}}</string>
                <key>sourceSize</key>
                <string>{135,127}</string>
            </dict>
            <key>m-weihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,787},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>m-yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,400},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>m-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{137,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,77}}</string>
                <key>sourceSize</key>
                <string>{137,77}</string>
            </dict>
            <key>m-yaowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,471},{160,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,130}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>m-yaoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,747},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>m-ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,501},{125,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{125,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>machaoshu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec55e3e6f0cbbb60d5e4a2751662ec30$</string>
            <key>textureFileName</key>
            <string>machaoshu.png</string>
        </dict>
    </dict>
</plist>
