<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f2-gebo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,580},{132,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,121}}</string>
                <key>sourceSize</key>
                <string>{132,121}</string>
            </dict>
            <key>f2-gebo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,132},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>f2-gebo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,393},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>f2-geboying.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,45},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>f2-geboying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,185},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>f2-geboying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{135,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,131}}</string>
                <key>sourceSize</key>
                <string>{135,131}</string>
            </dict>
            <key>f2-huzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,100},{166,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,102}}</string>
                <key>sourceSize</key>
                <string>{166,102}</string>
            </dict>
            <key>f2-jianying.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,504},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>f2-kui.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,546},{104,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,40}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>f2-meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,245},{78,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,28}}</string>
                <key>sourceSize</key>
                <string>{78,28}</string>
            </dict>
            <key>f2-qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,255}}</string>
                <key>sourceSize</key>
                <string>{529,255}</string>
            </dict>
            <key>f2-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,438},{140,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,157}}</string>
                <key>sourceSize</key>
                <string>{140,157}</string>
            </dict>
            <key>f2-touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,204},{135,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,165}}</string>
                <key>sourceSize</key>
                <string>{135,165}</string>
            </dict>
            <key>f2-yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,480},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>f2-yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,456},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>f2-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,275},{116,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,77}</string>
            </dict>
            <key>f2-yaowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,341},{162,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,95}}</string>
                <key>sourceSize</key>
                <string>{162,95}</string>
            </dict>
            <key>f2-yaoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{175,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,96}}</string>
                <key>sourceSize</key>
                <string>{175,96}</string>
            </dict>
            <key>f2-zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfeiheng-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af57535067881208e1134295b6c1950$</string>
            <key>textureFileName</key>
            <string>zhangfeiheng-hd.png</string>
        </dict>
    </dict>
</plist>
