<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>f-gebo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,460},{67,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,161}}</string>
			<key>sourceSize</key>
			<string>{67,161}</string>
		</dict>
		<key>f-gebo1ying.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,357},{74,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,164}}</string>
			<key>sourceSize</key>
			<string>{74,164}</string>
		</dict>
		<key>f-gebo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,498},{70,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,157}}</string>
			<key>sourceSize</key>
			<string>{70,157}</string>
		</dict>
		<key>f-gebo2ying.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,433},{73,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,163}}</string>
			<key>sourceSize</key>
			<string>{73,163}</string>
		</dict>
		<key>f-huzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,508},{146,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,108}}</string>
			<key>sourceSize</key>
			<string>{146,108}</string>
		</dict>
		<key>f-lian.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,375},{121,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,121}}</string>
			<key>sourceSize</key>
			<string>{121,121}</string>
		</dict>
		<key>f-meimao.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,65},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>f-qiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,440}}</string>
			<key>sourceSize</key>
			<string>{200,440}</string>
		</dict>
		<key>f-qun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,370},{163,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,88}}</string>
			<key>sourceSize</key>
			<string>{163,88}</string>
		</dict>
		<key>f-qunying.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,204},{169,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,126}}</string>
			<key>sourceSize</key>
			<string>{169,126}</string>
		</dict>
		<key>f-shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{164,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,203}}</string>
			<key>sourceSize</key>
			<string>{164,203}</string>
		</dict>
		<key>f-toufa.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,570},{110,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,71}}</string>
			<key>sourceSize</key>
			<string>{110,71}</string>
		</dict>
		<key>f-toufaying.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,204},{151,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,169}}</string>
			<key>sourceSize</key>
			<string>{151,169}</string>
		</dict>
		<key>f-tui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,607},{138,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,70}}</string>
			<key>sourceSize</key>
			<string>{138,70}</string>
		</dict>
		<key>f-yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{62,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,18}}</string>
			<key>sourceSize</key>
			<string>{62,18}</string>
		</dict>
		<key>f-yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,22},{62,16}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,16}}</string>
			<key>sourceSize</key>
			<string>{62,18}</string>
		</dict>
		<key>f-yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,529},{146,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,76}}</string>
			<key>sourceSize</key>
			<string>{146,76}</string>
		</dict>
		<key>f-zui.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,40},{48,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,23}}</string>
			<key>sourceSize</key>
			<string>{48,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhangfeishu.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e859a2a84484063619b340e0e3c0fea0$</string>
		<key>textureFileName</key>
		<string>zhangfeishu.png</string>
	</dict>
</dict>
</plist>
