<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zy2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{454,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{454,229}}</string>
			<key>sourceSize</key>
			<string>{454,229}</string>
		</dict>
		<key>zy2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,602},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>zy2-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,708},{92,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,79}}</string>
			<key>sourceSize</key>
			<string>{92,79}</string>
		</dict>
		<key>zy2-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,474},{157,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,81}}</string>
			<key>sourceSize</key>
			<string>{157,81}</string>
		</dict>
		<key>zy2-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,789},{70,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,56}}</string>
			<key>sourceSize</key>
			<string>{70,56}</string>
		</dict>
		<key>zy2-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,604},{138,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,116}}</string>
			<key>sourceSize</key>
			<string>{138,116}</string>
		</dict>
		<key>zy2-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,557},{140,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,122}}</string>
			<key>sourceSize</key>
			<string>{140,122}</string>
		</dict>
		<key>zy2-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,602},{130,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,104}}</string>
			<key>sourceSize</key>
			<string>{130,104}</string>
		</dict>
		<key>zy2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{463,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,239}}</string>
			<key>sourceSize</key>
			<string>{463,239}</string>
		</dict>
		<key>zy2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,737},{79,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,72}}</string>
			<key>sourceSize</key>
			<string>{79,72}</string>
		</dict>
		<key>zy2-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,681},{95,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,82}}</string>
			<key>sourceSize</key>
			<string>{95,82}</string>
		</dict>
		<key>zy2-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,682},{84,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,53}}</string>
			<key>sourceSize</key>
			<string>{84,53}</string>
		</dict>
		<key>zy2-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,474},{223,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,126}}</string>
			<key>sourceSize</key>
			<string>{223,126}</string>
		</dict>
		<key>zy2-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,474},{123,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,128}}</string>
			<key>sourceSize</key>
			<string>{123,128}</string>
		</dict>
		<key>zy2-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,68},{64,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,28}}</string>
			<key>sourceSize</key>
			<string>{64,28}</string>
		</dict>
		<key>zy2-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,2},{64,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,28}}</string>
			<key>sourceSize</key>
			<string>{64,28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhaoyunheng.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a461920eebe30bfc01a107986ef28113$</string>
		<key>textureFileName</key>
		<string>zhaoyunheng.png</string>
	</dict>
</dict>
</plist>
