<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>z-du.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{129,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,124}}</string>
			<key>sourceSize</key>
			<string>{129,124}</string>
		</dict>
		<key>z-gebo.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,422},{59,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,52}}</string>
			<key>sourceSize</key>
			<string>{59,52}</string>
		</dict>
		<key>z-geboying.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,357},{63,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,53}}</string>
			<key>sourceSize</key>
			<string>{63,53}</string>
		</dict>
		<key>z-jian.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,483},{84,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,102}}</string>
			<key>sourceSize</key>
			<string>{84,102}</string>
		</dict>
		<key>z-jianying.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,315},{87,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,105}}</string>
			<key>sourceSize</key>
			<string>{87,105}</string>
		</dict>
		<key>z-qiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{193,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,471}}</string>
			<key>sourceSize</key>
			<string>{193,471}</string>
		</dict>
		<key>z-qunying.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,197},{168,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,89}}</string>
			<key>sourceSize</key>
			<string>{168,89}</string>
		</dict>
		<key>z-shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,461},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>z-shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,545},{72,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,65}}</string>
			<key>sourceSize</key>
			<string>{72,65}</string>
		</dict>
		<key>z-shou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,545},{89,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,59}}</string>
			<key>sourceSize</key>
			<string>{89,59}</string>
		</dict>
		<key>z-shouying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{91,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,62}}</string>
			<key>sourceSize</key>
			<string>{91,62}</string>
		</dict>
		<key>z-tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,288},{128,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,162}}</string>
			<key>sourceSize</key>
			<string>{128,162}</string>
		</dict>
		<key>z-touying.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,418},{125,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,159}}</string>
			<key>sourceSize</key>
			<string>{125,159}</string>
		</dict>
		<key>z-tui.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,197},{114,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,116}}</string>
			<key>sourceSize</key>
			<string>{114,116}</string>
		</dict>
		<key>z-wei.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,197},{158,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,221}}</string>
			<key>sourceSize</key>
			<string>{158,221}</string>
		</dict>
		<key>z-weiqun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,357},{161,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,89}}</string>
			<key>sourceSize</key>
			<string>{161,89}</string>
		</dict>
		<key>z-yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{63,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,20}}</string>
			<key>sourceSize</key>
			<string>{63,20}</string>
		</dict>
		<key>z-yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,67},{63,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{63,14}}</string>
			<key>sourceSize</key>
			<string>{63,20}</string>
		</dict>
		<key>z-yao.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,404},{103,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,55}}</string>
			<key>sourceSize</key>
			<string>{103,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhaoyunshu.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2383171878ed1729201575b6a66a30bd$</string>
		<key>textureFileName</key>
		<string>zhaoyunshu.png</string>
	</dict>
</dict>
</plist>
