<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,257},{254,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,58}}</string>
                <key>sourceSize</key>
                <string>{254,62}</string>
            </dict>
            <key>area_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>area_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1},{254,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,58}}</string>
                <key>sourceSize</key>
                <string>{254,62}</string>
            </dict>
            <key>area_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,257},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,257},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,257},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,257},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,257},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,373},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>area_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,249},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>area_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,125},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>area_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>area_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{240,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,123}}</string>
                <key>sourceSize</key>
                <string>{240,123}</string>
            </dict>
            <key>area_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{354,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,5}}</string>
                <key>sourceSize</key>
                <string>{354,5}</string>
            </dict>
            <key>area_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,250},{148,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,5}}</string>
                <key>sourceSize</key>
                <string>{148,5}</string>
            </dict>
            <key>area_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,250},{180,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,5}}</string>
                <key>sourceSize</key>
                <string>{180,5}</string>
            </dict>
            <key>area_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1},{254,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,5}}</string>
                <key>sourceSize</key>
                <string>{254,5}</string>
            </dict>
            <key>area_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,250},{566,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,5}}</string>
                <key>sourceSize</key>
                <string>{566,5}</string>
            </dict>
            <key>area_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,243},{124,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,5}}</string>
                <key>sourceSize</key>
                <string>{124,5}</string>
            </dict>
            <key>area_interval_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,250},{240,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,5}}</string>
                <key>sourceSize</key>
                <string>{240,5}</string>
            </dict>
            <key>area_interval_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,243},{190,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,5}}</string>
                <key>sourceSize</key>
                <string>{190,5}</string>
            </dict>
            <key>area_interval_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,243},{800,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,5}}</string>
                <key>sourceSize</key>
                <string>{800,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>area_ipad.png</string>
            <key>size</key>
            <string>{1348,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d818a2c4ae35a28d7ac9afde2138e31c:1/1$</string>
            <key>textureFileName</key>
            <string>area_ipad.png</string>
        </dict>
    </dict>
</plist>
