<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,79},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>area_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,5},{265,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,68}}</string>
                <key>sourceSize</key>
                <string>{265,68}</string>
            </dict>
            <key>area_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>area_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,181},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,121},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,185},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,125},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,61},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,65},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,5},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,199},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,139},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,245},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>area_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,245},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>area_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,245},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>area_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,245},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>area_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,79},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
            <key>area_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,79},{166,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,2}}</string>
                <key>sourceSize</key>
                <string>{166,2}</string>
            </dict>
            <key>area_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,298},{69,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,2}}</string>
                <key>sourceSize</key>
                <string>{69,2}</string>
            </dict>
            <key>area_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,241},{84,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,2}}</string>
                <key>sourceSize</key>
                <string>{84,2}</string>
            </dict>
            <key>area_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{119,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,2}}</string>
                <key>sourceSize</key>
                <string>{119,2}</string>
            </dict>
            <key>area_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{265,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,2}}</string>
                <key>sourceSize</key>
                <string>{265,2}</string>
            </dict>
            <key>area_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,263},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>area_interval_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,294},{113,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,2}}</string>
                <key>sourceSize</key>
                <string>{113,2}</string>
            </dict>
            <key>area_interval_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,259},{89,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,2}}</string>
                <key>sourceSize</key>
                <string>{89,2}</string>
            </dict>
            <key>area_interval_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{375,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,2}}</string>
                <key>sourceSize</key>
                <string>{375,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>area_iphone.png</string>
            <key>size</key>
            <string>{498,303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff87c02b3ae10368a6e66787f543e85d:1/1$</string>
            <key>textureFileName</key>
            <string>area_iphone.png</string>
        </dict>
    </dict>
</plist>
