<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,319},{212,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,50}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>area_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,7},{472,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,120}}</string>
                <key>sourceSize</key>
                <string>{472,120}</string>
            </dict>
            <key>area_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,111},{212,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,50}}</string>
                <key>sourceSize</key>
                <string>{212,52}</string>
            </dict>
            <key>area_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,371},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,111},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,215},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,111},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,135},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,7},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,7},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,7},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,343},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,239},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,325},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>area_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,209},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>area_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,371},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>area_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,371},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>area_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,135},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>area_interval_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1},{295,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,4}}</string>
                <key>sourceSize</key>
                <string>{295,4}</string>
            </dict>
            <key>area_interval_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,447},{123,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,4}}</string>
                <key>sourceSize</key>
                <string>{123,4}</string>
            </dict>
            <key>area_interval_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{150,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,4}}</string>
                <key>sourceSize</key>
                <string>{150,4}</string>
            </dict>
            <key>area_interval_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,111},{212,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,4}}</string>
                <key>sourceSize</key>
                <string>{212,4}</string>
            </dict>
            <key>area_interval_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{472,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,4}}</string>
                <key>sourceSize</key>
                <string>{472,4}</string>
            </dict>
            <key>area_interval_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,459},{103,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,4}}</string>
                <key>sourceSize</key>
                <string>{103,4}</string>
            </dict>
            <key>area_interval_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,111},{200,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,4}}</string>
                <key>sourceSize</key>
                <string>{200,4}</string>
            </dict>
            <key>area_interval_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,447},{158,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,4}}</string>
                <key>sourceSize</key>
                <string>{158,4}</string>
            </dict>
            <key>area_interval_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{667,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,4}}</string>
                <key>sourceSize</key>
                <string>{667,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>area_iplus.png</string>
            <key>size</key>
            <string>{982,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9629241ec9c02143b85233cfdca5cbdc:1/1$</string>
            <key>textureFileName</key>
            <string>area_iplus.png</string>
        </dict>
    </dict>
</plist>
