<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{621,729}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,729}}</string>
                <key>sourceSize</key>
                <string>{621,729}</string>
            </dict>
            <key>area_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{172,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,2}}</string>
                <key>sourceSize</key>
                <string>{172,2}</string>
            </dict>
            <key>area_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,733},{280,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,2}}</string>
                <key>sourceSize</key>
                <string>{280,2}</string>
            </dict>
            <key>area_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{374,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,2}}</string>
                <key>sourceSize</key>
                <string>{374,2}</string>
            </dict>
            <key>area_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,737},{39,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,2}}</string>
                <key>sourceSize</key>
                <string>{39,2}</string>
            </dict>
            <key>area_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,737},{136,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,2}}</string>
                <key>sourceSize</key>
                <string>{136,2}</string>
            </dict>
            <key>area_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{449,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,2}}</string>
                <key>sourceSize</key>
                <string>{449,2}</string>
            </dict>
            <key>area_interval_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{449,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,2}}</string>
                <key>sourceSize</key>
                <string>{449,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element_iphone.png</string>
            <key>size</key>
            <string>{625,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05e07b9d64fdd27697bbdde6f0e7aaa7:1/1$</string>
            <key>textureFileName</key>
            <string>element_iphone.png</string>
        </dict>
    </dict>
</plist>
