<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1153,1353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1153,1353}}</string>
                <key>sourceSize</key>
                <string>{1153,1353}</string>
            </dict>
            <key>area_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1357},{320,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,4}}</string>
                <key>sourceSize</key>
                <string>{320,4}</string>
            </dict>
            <key>area_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1357},{520,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,3}}</string>
                <key>sourceSize</key>
                <string>{520,3}</string>
            </dict>
            <key>area_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1363},{695,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,4}}</string>
                <key>sourceSize</key>
                <string>{695,4}</string>
            </dict>
            <key>area_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1363},{73,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,4}}</string>
                <key>sourceSize</key>
                <string>{73,4}</string>
            </dict>
            <key>area_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1363},{252,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,4}}</string>
                <key>sourceSize</key>
                <string>{252,4}</string>
            </dict>
            <key>area_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1369},{833,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,4}}</string>
                <key>sourceSize</key>
                <string>{833,4}</string>
            </dict>
            <key>area_interval_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1369},{833,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,4}}</string>
                <key>sourceSize</key>
                <string>{833,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element_iplus.png</string>
            <key>size</key>
            <string>{1157,1375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aee182cbeb4cb6a48c8dfbc3a72e59f1:1/1$</string>
            <key>textureFileName</key>
            <string>element_iplus.png</string>
        </dict>
    </dict>
</plist>
