<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1384,1624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1384,1624}}</string>
                <key>sourceSize</key>
                <string>{1384,1624}</string>
            </dict>
            <key>area_interval_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{384,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,5}}</string>
                <key>sourceSize</key>
                <string>{384,5}</string>
            </dict>
            <key>area_interval_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1628},{624,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,4}}</string>
                <key>sourceSize</key>
                <string>{624,4}</string>
            </dict>
            <key>area_interval_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{834,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{834,5}}</string>
                <key>sourceSize</key>
                <string>{834,5}</string>
            </dict>
            <key>area_interval_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1635},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,5}</string>
            </dict>
            <key>area_interval_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1635},{302,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,5}}</string>
                <key>sourceSize</key>
                <string>{302,5}</string>
            </dict>
            <key>area_interval_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{1000,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,5}}</string>
                <key>sourceSize</key>
                <string>{1000,5}</string>
            </dict>
            <key>area_interval_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{1000,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,5}}</string>
                <key>sourceSize</key>
                <string>{1000,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element_ipad.png</string>
            <key>size</key>
            <string>{1388,1649}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a0c0b0b1e462a8d74cc9218a70cf5d6:1/1$</string>
            <key>textureFileName</key>
            <string>element_ipad.png</string>
        </dict>
    </dict>
</plist>
